.sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(16, 12, 12) ;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
  }

  .logo {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .links a {
    display: block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .close-btn {
    display: none;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }

    .close-btn {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 20px;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }
